<?xml version='1.0'?>
<launch>
	<arg name="path_name" default=""/>

	<node pkg="mantis_paths" type="path_node" name="path_gen" clear_params="true" output="screen">
		<param name="frame_id" value="map" />
		<param name="arc_resolution" value="50" />

		<rosparam command="load" file="$(find mantis_paths)/launch/path_$(arg path_name).yaml"/>
	</node>
</launch>
