<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:macro name="frame_arm" params="suffix length radius color xyz rpy">
		<collision name="collision_${suffix}">
			<origin xyz="${xyz}" rpy="${rpy}"/>
			<geometry>
				<cylinder radius="${radius}" length="${length}" />
			</geometry>
		</collision>

		<visual name="visual_${suffix}">
			<origin xyz="${xyz}" rpy="${rpy}"/>
			<geometry>
				<cylinder radius="${radius}" length="${length}" />
			</geometry>
			<material name="${color}"/>
		</visual>
	</xacro:macro>
</robot>
