<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:macro name="frame_battery" params="suffix size xyz rpy">
		<collision name="collision_${suffix}">
			<origin xyz="${xyz}" rpy="${rpy}"/>
			<geometry>
				<box size="${size}"/>
			</geometry>
		</collision>

		<visual name="visual_${suffix}">
			<origin xyz="${xyz}" rpy="${rpy}"/>
			<geometry>
				<box size="${size}"/>
			</geometry>

			<material name="blue">
				<color rgba="0.0 0.0 0.8 1.0"/>
			</material>
		</visual>
	</xacro:macro>
</robot>
