<?xml version='1.0'?>
<launch>
	<arg name="move" default="home"/>

	<node pkg="contrail" type="waypoint_dispatcher" name="dispatcher_discrete_base" clear_params="true"
	ns="mantis_uav" output="screen">
		<param name="action_topic" value="router_base/contrail" />
		<param name="nominal_velocity" value="0.2" />
		<param name="nominal_rate" value="0.2" />

		<rosparam command="load" file="$(find mantis_planner)/manoeuvres/discrete_base/$(arg move).yaml"/>
	</node>
</launch>
