<?xml version='1.0'?>
<launch>
	<arg name="move" default="home"/>

	<node pkg="mantis_planner" type="discrete_full_dispatcher" name="dispatcher_discrete_full"
	ns="/mantis_uav" clear_params="true" output="screen">
		<param name="action_topic_contrail" value="router_base/contrail" />
		<param name="action_topic_joint_prefix" value="router_joints/" />

		<param name="nominal_velocity" value="0.1" />
		<param name="nominal_rate" value="0.2" />
		<param name="nominal_joint_rate" value="0.2" />

		<rosparam command="load" file="$(find mantis_planner)/manoeuvres/discrete_full/$(arg move).yaml"/>
	</node>
</launch>
