<?xml version='1.0'?>
<launch>
	<arg name="path_name" default=""/>

	<node pkg="contrail" type="contrail_path_node" name="path_gen"
	ns="/mantis_uav" clear_params="true" output="screen">
		<param name="frame_id" value="map" />
		<param name="complex_segment_resolution" value="50" />

		<remap from="path_gen/path" to="mavel/reference/path" />

		<rosparam command="load" file="$(find contrail)/paths/$(arg path_name).yaml"/>
	</node>
</launch>
