<?xml version='1.0'?>
<launch>
	<arg name="wp_name" default="square"/>
	<arg name="jl_name" default="discrete"/>

	<node pkg="mantis_planner" type="discrete_dispatcher" name="discrete_dispatcher" clear_params="true" output="screen">
		<param name="action_topic" value="/mantis_uav/router_base/contrail" />
		<param name="nominal_velocity" value="0.2" />
		<param name="nominal_rate" value="0.2" />

		<rosparam command="load" file="$(find mantis_description)/waypoints/$(arg wp_name).yaml"/>
	</node>
</launch>
