<?xml version='1.0'?>
<launch>
	<arg name="s_name" default=""/>

	<node pkg="contrail" type="load_spline" name="load_spline" clear_params="true"
	ns="mantis_uav" output="screen">
		<param name="frame_id" value="map" />

		<rosparam command="load" file="$(find mantis_description)/splines/$(arg s_name).yaml"/>
		<remap from="spline" to="mantis_path/reference/contrail/spline"/>
	</node>
</launch>
