<?xml version='1.0'?>
<launch>
	<arg name="arm" default="false"/>

	<group if="$(arg arm)">
		<node pkg="rosservice" type="rosservice" name="arm_system" args="call --wait /mantis_uav/arm/motors '{arm: $(arg arm)}'"/>
	</group>

	<node pkg="contrail" type="converter_waypoints_path" name="wp_converter" clear_params="true"
	ns="mantis_uav" output="screen">
		<remap from="~waypoints" to="waypoints" />
		<remap from="~path" to="controller_aug/reference/contrail/path" />
	</node>

	<!-- LOW LEVEL CONTROL -->
	<rosparam command="load" ns="/mantis_uav" file="$(find mantis_description)/config/mantis_sim_controller_aug_params.yaml"/>

	<node pkg="mantis_controller_aug" type="mantis_controller_aug_node" name="controller_aug"
	ns="/mantis_uav" clear_params="true" output="screen">
		<param name="frame_id" value="map" />
		<param name="model_id" value="mantis_uav" />
		<param name="high_level_rate" value="20.0" />
		<param name="low_level_rate" value="200.0" />

		<param name="control_settings/track_end" value="false" />
		<param name="control_settings/accurate_end_tracking" value="true" />
		<param name="control_settings/force_compensation" value="true" />
		<param name="control_settings/force_comp_filter_a" value="1.0" />
		<param name="control_settings/coriolis_compensation" value="true" />
		<param name="control_settings/reference_feedback" value="true" />

		<remap from="~reference/path" to="path" />

		<remap from="~output/rc" to="command/motor_pwm" />
	</node>

	<!-- HIGH LEVEL CONTROL -->
	<node pkg="mantis_joints" type="mantis_joints_node" name="joint_planner" clear_params="true"
	ns="mantis_uav" output="screen">
		<rosparam command="load" file="$(find mantis_joints)/launch/initial_joints.yaml"/>

		<remap from="~reference/discrete_progress" to="mantis_path/feedback/contrail/discrete_progress"/>
		<remap from="~reference/spline" to="mantis_path/reference/contrail/spline"/>
		<remap from="~command/joint0" to="joint_position_controller/joint_shoulder/reference/traj"/>
		<remap from="~command/joint1" to="joint_position_controller/joint_elbow/reference/traj"/>
	</node>
</launch>
