<?xml version='1.0'?>
<launch>
	<rosparam command="load" ns="/mantis_uav" file="$(find mantis_description)/config/mantis_sim_params_aug.yaml"/>

	<node pkg="mantis_controller_aug" type="controller_aug_path_node" name="controller_aug_path"
	ns="/mantis_uav" clear_params="true" output="screen">
		<param name="frame_id" value="map" />
		<param name="model_id" value="mantis_uav" />
		<param name="path_rate" value="50.0" />

		<param name="control_settings/track_end" value="false" />
		<param name="control_settings/accurate_end_tracking" value="true" />

		<remap from="controller_aug_path/state/odom" to="odom" />
		<remap from="controller_aug_path/state/joints" to="joint_states" />
		<remap from="controller_aug_path/reference/path" to="path" />
		<remap from="controller_aug_path/output/traj" to="mavel/reference/traj" />
	</node>
</launch>
