<?xml version='1.0'?>
<launch>
	<arg name="model_name" default="mantis_uav"/>

	<group ns="$(arg model_name)">
		<node pkg="mantis_planner" type="guidance_router" name="guidance_router"
		clear_params="true" output="screen">
			<param name="action_topic_contrail" value="guidance/contrail" />
			<param name="action_topic_joint_prefix" value="guidance/" />
		</node>

		<node pkg="mantis_guidance_full" type="mantis_guidance_full_node" name="guidance"
		clear_params="true" output="screen">
			<param name="update_rate" value="50.0" />

			<param name="control_settings/track_end" value="false" />
			<param name="control_settings/accurate_end_tracking" value="true" />
			<param name="control_settings/reference_feedback" value="true" />

			<remap from="~output/triplet" to="mavel/reference/triplet"/>
			<remap from="~joint_shoulder/command" to="joint_position_controller/joint_shoulder/reference/traj"/>
			<remap from="~joint_elbow/command" to="joint_position_controller/joint_elbow/reference/traj"/>
		</node>

		<!-- HIGH LEVEL CONTROL -->
		<node pkg="mavel" type="mavel_node" name="mavel"
		clear_params="true" output="screen">
			<rosparam command="load" file="$(find mantis_description)/config/mavel_sim_params.yaml"/>

			<remap from="~command/attitude" to="mavros/setpoint_raw/attitude"/>
			<remap from="~state/odometry" to="state/odom"/>
			<remap from="~state/mav_state" to="mavros/state"/>
		</node>

		<node name="joint_position_controller" pkg="mantis_controller_joints" type="mantis_controller_joints_node"
		clear_params="true" output="screen">
			<param name="update_rate" value="25.0" />
			<rosparam command="load" file="$(find mantis_description)/config/mantis_joint_control.yaml"/>

			<remap from="~joint_shoulder/command" to="shoulder_velocity_controller/command"/>
			<remap from="~joint_elbow/command" to="elbow_velocity_controller/command"/>
		</node>

		<!-- LOW LEVEL CONTROL -->
		<node pkg="mantis_controller_feed" type="mantis_controller_feed_node" name="controller_feed"
		clear_params="true" output="screen">
			<param name="est_rate" value="50.0" />

			<param name="control_settings/force_compensation" value="true" />
			<param name="control_settings/force_comp_filter_a" value="1.0" />
			<param name="control_settings/coriolis_compensation" value="true" />
			<param name="control_settings/reference_feedback" value="true" />

			<remap from="~command/attitude" to="mavros/setpoint_raw/attitude" />
			<remap from="~output/normalized_payload_torque" to="mavros/actuator_control" />
		</node>
	</group>
</launch>
