<?xml version='1.0'?>
<launch>
	<arg name="arm" default="false"/>

	<group if="$(arg arm)">
		<node pkg="rosservice" type="rosservice" name="arm_system" args="call --wait /mantis_uav/arm/motors '{arm: $(arg arm)}'"/>
	</group>

	<!-- LOW LEVEL CONTROL -->
	<rosparam command="load" ns="/mantis_uav" file="$(find mantis_description)/config/mantis_sim_controller_aug_param.yaml"/>

	<node pkg="mantis_controller_aug" type="mantis_controller_aug_node" name="controller_aug"
	ns="/mantis_uav" clear_params="true" output="screen">
		<param name="frame_id" value="map" />
		<param name="model_id" value="mantis_uav" />
		<param name="safety_rate" value="20.0" />
		<param name="high_level_rate" value="20.0" />
		<param name="low_level_rate" value="200.0" />

		<param name="control_settings/track_end" value="false" />
		<param name="control_settings/accurate_end_tracking" value="true" />
		<param name="control_settings/force_compensation" value="true" />
		<param name="control_settings/force_comp_filter_a" value="1.0" />
		<param name="control_settings/coriolis_compensation" value="true" />
		<param name="control_settings/reference_feedback" value="true" />

		<remap from="controller_aug/reference/path" to="path" />

		<remap from="controller_aug/output/rc" to="command/motor_pwm" />
	</node>

	<!-- HIGH LEVEL CONTROL -->
	<node name="robot_joint_config" pkg="mantis_controller_joints" type="mantis_controller_joints_config_node" respawn="false"
	ns="/mantis_uav" output="screen">
		<param name="frame_id" value="mantis_uav" />
		<param name="hover_height" value="1.0" />

		<remap from="command/joint/1" to="joint_position_controller/joint_shoulder/reference/pos"/>
		<remap from="command/joint/2" to="joint_position_controller/joint_elbow/reference/pos"/>
	</node>
</launch>
