<?xml version='1.0'?>
<launch>
	<arg name="model" default="$(find mantis_description)/urdf/mantis.xacro"/>

	<!-- GAZEBO SETUP -->

	<arg name="paused" default="false"/>
	<arg name="use_sim_time" default="true"/>
	<arg name="extra_gazebo_args" default=""/>
	<arg name="gui" default="false"/>
	<arg name="recording" default="false"/>
	<arg name="headless" default="false"/>
	<arg name="debug" default="false"/>
	<arg name="physics" default="ode"/>
	<arg name="verbose" default="true"/>
	<arg name="world_name" default="worlds/mantis_stand.world"/>
	<arg name="respawn_gazebo" default="false"/>
	<arg name="use_clock_frequency" default="false"/>
	<arg name="pub_clock_frequency" default="100"/>

	<group if="$(arg use_sim_time)">
	<param name="/use_sim_time" value="true" />
	</group>

	<arg unless="$(arg paused)" name="command_arg1" value=""/>
	<arg     if="$(arg paused)" name="command_arg1" value="-u"/>
	<arg unless="$(arg recording)" name="command_arg2" value=""/>
	<arg     if="$(arg recording)" name="command_arg2" value="-r"/>
	<arg unless="$(arg verbose)" name="command_arg3" value=""/>
	<arg     if="$(arg verbose)" name="command_arg3" value="--verbose"/>
	<arg unless="$(arg debug)" name="script_type" value="gzserver"/>
	<arg     if="$(arg debug)" name="script_type" value="debug"/>

	<!-- start gazebo server-->
	<group if="$(arg use_clock_frequency)">
		<param name="gazebo/pub_clock_frequency" value="$(arg pub_clock_frequency)" />
	</group>

	<node name="gazebo" pkg="gazebo_ros" type="$(arg script_type)" respawn="$(arg respawn_gazebo)" output="screen"
	args="$(arg command_arg1) $(arg command_arg2) $(arg command_arg3) -e $(arg physics) $(arg extra_gazebo_args) $(arg world_name)" />

	<!-- start gazebo client -->
	<group if="$(arg gui)">
		<node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"/>
	</group>

	<!-- MODEL SETUP -->

	<param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model mantis_uav -param robot_description -z 1.0"/>

	<!-- INFO SETUP -->

	<node name="model_state_odom" pkg="mantis_gazebo" type="model_state_odom_node" output="screen" />

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
		<remap from="/joint_states" to="/mantis_uav/joint_states" />
	</node>

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

	<!-- CONTROLLER SETUP -->

	<rosparam file="$(find mantis_description)/config/robot_joint_control.yaml" command="load"/>

	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/mantis_uav" args="shoulder_velocity_controller elbow_velocity_controller joint_state_controller"/>

	<node name="position_controller" pkg="mantis_controller_joints" type="controller_node" respawn="false"
	output="screen" ns="/mantis_uav" args="joint_shoulder joint_elbow">
		<param name="controller_name" value="joint_position_controller" />
		<param name="update_rate" value="50.0" />
	</node>
</launch>
