<?xml version='1.0'?>
<launch>
	<arg name="arm" default="false"/>

	<group if="$(arg arm)">
		<node pkg="rosservice" type="rosservice" name="arm_system" args="call --wait /mantis_uav/arm/motors '{arm: $(arg arm)}'"/>
	</group>

	<!-- HIGH LEVEL CONTROL -->
	<node pkg="mantis_path" type="mantis_path_node" name="mantis_path"
	ns="/mantis_uav" clear_params="true" output="screen">
		<param name="frame_id" value="map" />
		<param name="model_id" value="mantis_uav" />
		<param name="path_rate" value="50.0" />

		<param name="control_settings/track_end" value="false" />
		<param name="control_settings/accurate_end_tracking" value="true" />

		<remap from="mantis_path/reference/path" to="path"/>
		<remap from="mantis_path/output/traj" to="mavel/reference/traj"/>
	</node>

	<node pkg="mavel" type="mavel_node" name="mavel"
	ns="/mantis_uav" clear_params="true" output="screen">
		<rosparam command="load" file="$(find mantis_description)/config/mavel_sim_params.yaml"/>

		<remap from="mavel/command/attitude" to="command/attitude"/>
		<remap from="mavel/state/odometry" to="state/odom"/>
		<remap from="mavel/state/mav_state" to="state/mav_state"/>
	</node>

	<!-- LOW LEVEL CONTROL -->
	<node pkg="mantis_controller_aug" type="mantis_controller_aug_lite_node" name="controller_aug"
	ns="/mantis_uav" clear_params="true" output="screen">
		<param name="frame_id" value="map" />
		<param name="model_id" value="mantis_uav" />
		<param name="est_rate" value="50.0" />

		<param name="control_settings/force_compensation" value="false" />
		<param name="control_settings/force_comp_filter_a" value="1.0" />
		<param name="control_settings/coriolis_compensation" value="true" />
		<param name="control_settings/reference_feedback" value="true" />

		<remap from="controller_aug/command/attitude" to="command/attitude" />
		<remap from="controller_aug/output/normalized_payload_torque" to="command/force_compensation" />
	</node>

	<!-- HELPER NODES -->
	<node name="robot_joint_config" pkg="mantis_controller_joints" type="mantis_controller_joints_config_node" respawn="false"
	ns="/mantis_uav" output="screen">
		<param name="frame_id" value="mantis_uav" />
		<param name="hover_height" value="1.0" />

		<remap from="command/joint/1" to="joint_position_controller/joint_shoulder/reference"/>
		<remap from="command/joint/2" to="joint_position_controller/joint_elbow/reference"/>
	</node>
</launch>
