<?xml version='1.0'?>
<launch>
	<arg name="wp_name" default="home"/>

	<node pkg="contrail" type="load_waypoints" name="load_waypoints" clear_params="true"
	ns="mantis_uav" output="screen">
		<param name="frame_id" value="map" />

		<rosparam command="load" file="$(find mantis_description)/paths/$(arg wp_name).yaml"/>
	</node>
</launch>
