<?xml version='1.0'?>
<launch>
	<arg name="arm" default="false"/>

	<node pkg="rosservice" type="rosservice" name="arm_system" args="call --wait /mantis_uav/arm/motors '{arm: $(arg arm)}'"/>

	<!-- LOW LEVEL CONTROL -->

	<rosparam command="load" ns="/mantis_uav" file="$(find mantis_description)/config/robot_params.yaml"/>

	<node pkg="mantis_controller_id" type="controller_id_node" name="controller_id"
	ns="/mantis_uav" clear_params="true" output="screen">
		<param name="frame_id" value="map" />
		<param name="model_id" value="mantis_uav" />
		<param name="track_base" value="false" />
		<param name="track_j2" value="false" />
		<param name="accurate_z_tracking" value="false" />
		<param name="accurate_end_tracking" value="true" />
		<param name="reference_feedback" value="true" />
		<param name="control_rate" value="100.0" />

		<remap from="controller_id/state/odom" to="/mantis_uav/odom" />
		<remap from="controller_id/state/joints" to="/mantis_uav/joint_states" />

		<remap from="controller_id/goal/path" to="/mantis_uav/path" />

		<remap from="controller_id/output/rc" to="/mantis_uav/command/motor_pwm" />
		<remap from="controller_id/output/joints" to="/mantis_uav/command/joint_torque" />
	</node>

	<!-- HIGH LEVEL CONTROL -->
	<node name="robot_config" pkg="mantis_controller_id" type="robot_config_node" respawn="false"
	ns="/mantis_uav" output="screen">
		<param name="frame_id" value="map" />
		<param name="hover_height" value="1.0" />

		<remap from="robot_config/goal/joint1" to="/mantis_uav/joint_position_controller/joint_shoulder/command"/>
		<remap from="robot_config/goal/joint2" to="/mantis_uav/joint_position_controller/joint_elbow/command"/>

		<remap from="robot_config/pose" to="/move_base_simple/goal"/>
		<remap from="robot_config/goal/path" to="/mantis_uav//path"/>
	</node>
</launch>
