<?xml version='1.0'?>
<launch>
	<arg name="model_name" default="mantis_uav"/>
	
	<group ns="$(arg model_name)">
		<!-- HIGH LEVEL CONTROL -->
		<node name="joint_position_controller" pkg="mantis_controller_joints" type="mantis_controller_joints_node"
		clear_params="true" output="screen">
			<param name="update_rate" value="25.0" />
			<rosparam command="load" file="$(find mantis_description)/config/mantis_joint_control.yaml"/>

			<remap from="~joint_shoulder/command" to="dynamixel_interface/joint_shoulder/reference/velocity"/>
			<remap from="~joint_elbow/command" to="dynamixel_interface/joint_elbow/reference/velocity"/>
		</node>

		<!-- LOW LEVEL CONTROL -->
		<node pkg="mantis_interface_dynamixel" type="mantis_interface_dynamixel_manager_node" name="dynamixel_interface"
		clear_params="true" output="screen">
			<param name="port_name" value="/dev/serial/by-id/usb-FTDI_FT232R_USB_UART_A10668JA-if00-port0" type="str" />
			<param name="port_baud" value="3000000" type="int" />
			<param name="protocol" value="2.0" type="double" />

			<param name="frame_id" value="mantis" type="str" />
			<param name="update_rate" value="25.0" type="double" />

			<!--remap from="~joint_states" to="joint_states" /-->
			<remap from="~joint_states" to="state/joints" />

			<rosparam command="load" file="$(find mantis_description)/config/mantis_dynamixel_interface.yaml"/>
		</node>
	</group>
</launch>
