<?xml version='1.0'?>
<launch>
	<arg name="jl_name" default="hang"/>

	<node pkg="mantis_guidance_joints" type="load_joint_list" name="load_joint_list" clear_params="true"
	ns="mantis_uav" output="screen">
		<param name="frame_id" value="mantis_uav" />

		<rosparam command="load" file="$(find mantis_joints)/joint_movements/$(arg jl_name).yaml"/>
	</node>
</launch>
