#!/usr/bin/env python
PACKAGE = "mantis_state"

from dynamic_reconfigure.parameter_generator_catkin import *
import math

gen = ParameterGenerator()

#gen.add("track_end", bool_t, 0, "Enables end effector tracking (instead of robot base)", False)
#gen.add("track_j2", bool_t, 0, "Enables 'joint 2' tracking (instead of robot base)", False)
#gen.add("accurate_z_tracking", bool_t, 0, "", False)
#gen.add("accurate_end_tracking", bool_t, 0, "", False)
gen.add("rate/nominal", double_t, 0, "", 250.0)
gen.add("rate/timeout/soft", double_t, 0, "", 125.0)
gen.add("rate/timeout/hard", double_t, 0, "", 62.5)

exit(gen.generate(PACKAGE, "mantis_state_node", "StateParams"))
