<launch>
  <!-- RQT -->
  <node pkg="rqt_gui" type="rqt_gui" name="rqt" output="screen" >
    <remap from="/imu" to="/mavros/imu/data"/>
  </node>

  <!-- IMU to RPY -->
  <node pkg="rqt_mc_tuner" type="imu_to_rpy" name="imu_to_rpy" output="screen" >
    <remap from="/imu" to="/mavros/imu/data"/>
  </node>

  <!-- Attitude to RPY -->
  <node pkg="rqt_mc_tuner" type="attitudetarget_to_rpy" name="attitudetarget_to_rpy" output="screen" >
    <remap from="/attitude_target" to="/mavros/setpoint_raw/attitude"/>
  </node>
</launch>
