<?xml version='1.0'?>
<launch>
	<arg name="model" default="$(find mantis_description)/urdf/mantis.xacro"/>
	<arg name="gui" default="false" />

	<param name="use_gui" value="$(arg gui)"/>
	<param name="robot_description" command="$(find xacro)/xacro '$(find mantis_description)/urdf/mantis.xacro'" />

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
</launch>
