<launch>
	<node pkg="mavel" type="mavel_node" name="mavel" clear_params="true" output="screen">
		<!-- Controller Parameters /-->
		<rosparam command="load" file="$(find mavel)/launch/params.yaml"/>

		<remap from="/mavel/goal/attitude" to="/mavros/setpoint_raw/attitude"/>
		<remap from="/mavel/reference/odometry" to="/odom"/>
		<remap from="/mavel/reference/state" to="/mavros/state"/>

		<!-- remap from="/mavel/goal/attitude" to="/mantis_uav/command/attitude_target"/ -->
		<!-- remap from="/mavel/reference/odometry" to="/mantis_uav/odom"/ -->
	</node>
</launch>
