<!-- -*- mode: XML -*- -->

<launch>
    <!-- Start controller manager -->
    <node name="dynamixel_manager" pkg="dynamixel_controllers" type="controller_manager.py" required="true" output="screen">
        <rosparam>
            namespace: dxl_manager
            serial_ports:
                arm_port:
                    port_name: "/dev/serial/by-name/dxl-arm"
                    baud_rate: 1000000
                    min_motor_id: 1
                    max_motor_id: 8
                    update_rate: 100
        </rosparam>
    </node>

    <!-- Start arm joint controller -->
    <rosparam file="$(find mantis_config)/config/arm_controller.yaml" command="load"/>
    <node name="arm_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port arm_port
                shoulder_controller
                elbow_controller
                wrist_controller"
          output="screen"/>
</launch>
