<?xml version='1.0'?>

<launch>
	<arg name="arm" default="false"/>

	<node pkg="mantis_controller_id" type="controller_id_node" name="controller_id" clear_params="true" output="screen">
		<param name="frame_id" value="map" />
		<param name="model_id" value="mantis_uav" />
		<param name="track_base" value="false" />
		<param name="accurate_end_tracking" value="true" />
		<param name="control_rate" value="100.0" />

		<remap from="/controller_id/state/odom" to="/mantis_uav/odom" />
		<remap from="/controller_id/state/joints" to="/mantis_uav/state/joint_states" />

		<remap from="/controller_id/goal/path" to="/path_gen/path" />

		<remap from="/controller_id/output/rc" to="/mantis_uav/command/motor_pwm" />
		<remap from="/controller_id/output/joints" to="/mantis_uav/command/joint_torque" />

		<rosparam command="load" file="$(find mantis_config)/config/robot_params.yaml"/>
	</node>
	<!--
	<node pkg="mavel" type="mavel_node" name="mavel" clear_params="true" output="screen">
		<rosparam command="load" file="$(find mantis_controller_id)/launch/mavel_params.yaml"/>
		<remap from="/mavel/reference/odometry" to="/mantis_uav/odom"/>
	</node>
	-->
	<node pkg="mantis_controller_id" type="pose_test_node" name="pose_goals" clear_params="true" output="screen">
		<param name="arm/r1" value="0.0" />
		<param name="arm/r2" value="0.0" />
		<!--
		<remap from="/pose_goals/pose" to="/controller_id/goal/pose"/>
		-->
		<remap from="/pose_goals/joints" to="/controller_id/goal/joints"/>

		<remap from="/pose_goals/hover_goal" to="/move_base_simple/goal"/>
	</node>

	<node pkg="rosservice" type="rosservice" name="arm_system" args="call --wait /mantis_uav/arm/system '{arm: $(arg arm)}'"/>
</launch>
