<?xml version='1.0'?>

<launch>
	<arg name="arm" default="false"/>

	<node pkg="mantis_controller_id" type="controller_id_node" name="controller_id" clear_params="true" output="screen">
		<param name="frame_id" value="map" />
		<param name="model_id" value="mantis_uav" />
		<param name="track_base" value="false" />
		<param name="accurate_end_tracking" value="true" />
		<param name="reference_feedback" value="true" />
		<param name="control_rate" value="100.0" />

		<remap from="/controller_id/state/odom" to="/mantis_uav/odom" />
		<remap from="/controller_id/state/joints" to="/mantis_uav/joint_states" />

		<remap from="/controller_id/output/rc" to="/mantis_uav/command/motor_pwm" />
		<remap from="/controller_id/output/joints" to="/mantis_uav/command/joint_torque" />

		<rosparam command="load" file="$(find mantis_description)/config/robot_params.yaml"/>
	</node>

	<node pkg="mantis_controller_id" type="robot_config_node" name="robot_config" clear_params="true" output="screen">
		<remap from="/robot_config/goal/path" to="/controller_id/goal/path"/>
		<remap from="/robot_config/goal/joints" to="/mantis_uav/joint_position_controller/command"/>

		<remap from="/robot_config/joints" to="/mantis_uav/joint_goals"/>
		<remap from="/robot_config/pose" to="/move_base_simple/goal"/>
	</node>

	<node pkg="rosservice" type="rosservice" name="arm_system" args="call --wait /mantis_uav/arm/motors '{arm: $(arg arm)}'"/>
</launch>
