<launch>
	<node pkg="mantis_controller_servos" type="controller_node" name="controller_servos" clear_params="true" output="screen">
		<param name="model_name" value="mantis_uav" />
		<param name="servo_update_rate" value="25.0" />

		<remap from="/mantis_uav/state/joint_states" to="/dynamixel_interface/states" />
		<remap from="/mantis_uav/goal/joint_states" to="/dynamixel_interface/setpoints" />

		<rosparam command="load" file="$(find mantis_interface_dynamixel)/launch/pid_test_params.yaml"/>
	</node>
</launch>
